.ops-page {
    padding-bottom: 6.5rem;

    .daily-combo {
        padding: 12px;
        border-top: 2px solid var(--accent);
        border-bottom: 2px solid var(--accent);
        background-color: var(--secondary);
        margin-top: 20px;
        border-radius: 30px;

        .time {
            text-align: right;
        }

        .header {
            background-color: var(--primary);
            border-radius: 8px;
            padding: 4px 8px;
            margin-top: 4px;

            .title {
                font-size: 16px;
                font-weight: 600;
                margin-right: 4px;
            }

            .earning {
                border-radius: 26px;
                background-color: var(--accent);

                img {
                    border: 5px solid var(--text);
                    border-radius: 26px;
                }

                .value {
                    padding: 4px 16px;
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--text2);

                }
            }
        }

        .item-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            margin-top: 12px;

            .item {
                width: 90px;
                background-color: var(--text);
                border: 6px solid var(--primary);
                border-radius: 8px;

                .img {
                    padding: 8px;
                    border-radius: 8px;
                    height: 109px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    .question {
                        width: 32px;
                        height: 32px;
                    }

                    img {
                        width: 100%;
                        object-fit: cover;
                    }

                }

                p {
                    text-align: center;
                    font-size: 600;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .nav-tabs {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        border: none;
        margin: 0 12px;
        margin-top: 20px;
        background-color: var(--secondary);
        border-radius: 30px;
        padding: 8px;

        .nav-item {
            width: calc(25% - 10px);
            text-align: center;
            padding: 0;

            .nav-link {
                border-radius: 8px 8px 0 0;
                color: var(--text);
                font-weight: 600;
                border: none;
                border-radius: 30px;
                padding: 10px 8px;

                &.active {
                    background-color: var(--primary);
                }
            }
        }
    }

    .tab-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin: 0 12px;
        margin-top: 20px;

        .item {
            padding: 8px;
            background-color: var(--primary);
            border-radius: 8px;
            width: calc(50% - 6px);

            .card-image {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 109px;
                }
            }

            .card-info {
                margin-top: 12px;

                .title {
                    font-size: 16px;
                    font-weight: 600;
                }

                img {
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                }

                .card-footer {
                    display: flex;
                    justify-content: space-between;
                    background-color: var(--secondary);
                    padding: 6px 8px;
                    border-radius: 6px;
                }
            }


        }
    }

}