.arena-page {
    padding-bottom: 6rem;

    .heading {
        text-align: center;
        font-weight: 600;
    }

    .card-container {
        position: relative;
        margin-top: 40px;
        height: 745px;
        background: url('/images/arena/connector.png') no-repeat center center;

        .item{
            position: absolute;

            &:nth-child(1) {
                top: 0;
                right: 32px;
            }
    
            &:nth-child(2) {
                left: 32px;
                top: 11.7%;
            }
    
            &:nth-child(3) {
                right: 36px;
                top: 31%;
            }
    
            &:nth-child(4) {
                left: 32px;
                top: 42%;
            }
            
            &:nth-child(5) {
                right: 36px;
                top: 61%;
            }
    
            &:nth-child(6) {
                left: 32px;
                top: 72%;
            }

            .rating{
                margin-top: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
            }
        }
        

        
    }
}