.arena-page {
    padding-bottom: 90px;

    .heading {
        text-align: center;
        font-weight: 600;
        color: var(--white);
    }

    .card-container {
        margin-top: 40px;
        padding: 10px 30px;

        .item {
            position: relative;

            &:nth-child(odd) {
                display: flex;
                justify-content: end;
            }

            &:nth-child(even)::before {
                position: absolute;
                content: '';
                background: url('/images/arena/right.webp') no-repeat;
                width: 100%;
                height: 158px;
                bottom: -136px;
                right: -61px;
            }

            &:nth-child(odd)::before {
                position: absolute;
                content: '';
                background: url('/images/arena/left.webp') no-repeat;
                width: 100%;
                height: 158px;
                left: 58px;
                transform: rotate(-16deg);
                top: 89px;
            }

            &:last-child::before {
                display: none;
            }

            img {
                filter: blur(2px);

                &.active {
                    filter: none;
                }
            }

            &:nth-child(4) {
                margin-top: 40px;
            }

            &:last-child {
                margin-top: 40px;
            }
        }

    }
}