.rewards-page {
    padding: 2rem 12px 90px 12px;

    .heading {
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color: var(--white);
    }

    .daily-reward {
        padding: 8px 25px 8px 10px;
        background-color: var(--white);
        border-radius: 8px;
        width: 100%;
        min-height: 90px;
        margin-top: 16px;
        background: url('/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        img {
            width: 80px;
            height: 80px;
        }

        .head {
            font-weight: 600;
        }

        p {
            font-size: 16px;
        }

        i {
            font-weight: 700;
        }
    }

    .nav-tabs {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        border: none;
        margin-top: 20px;
        background-color: var(--white);
        border-radius: 30px;
        padding: 8px;
        background: url('/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .nav-item {
            width: calc(25% - 10px);
            text-align: center;
            padding: 0;

            .nav-link {
                border-radius: 8px 8px 0 0;
                color: var(--black);
                font-weight: 600;
                border: none;
                border-radius: 30px;
                padding: 10px 8px;
                cursor: pointer;

                &.active {
                    background-color: var(--primary);
                    color: var(--white);
                }
            }
        }
    }

    .tab-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-top: 20px;
        background-color: var(--white);
        border-radius: 8px;
        padding: 30px 15px;
        min-height: 90px;
        background: url('/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .no-data{
            color: var(--primary);
        }
        img{
            width: 40px;
            height: 40px;
        }

        .small img {
            width: 16px;
            height: 16px;
        }

        hr {
            opacity: 1;
            border: 1px solid var(--black);
            width: 100%;
            margin: 3px 0;
        }


        .bold {
            font-weight: 600;
        }

        .start {
            padding: 4px;
            border-radius: 16px;
            background-color: var(--primary);
            border: none;
            min-width: 65px;
            color: var(--white);
        }

        .disable{
            color: black;
            background-color: silver;
        }

        .connect-wallet {
            svg {
                display: none;
            }

            .go3974562317 {
                padding: 0 10px;
                border-radius: 16px;
                background-color: var(--primary);
                border: none;
                min-width: 65px;
                color: var(--white);
                font-size: 12px;
                height: 28px;
            }

            .go157313249 {
                background-color: var(--black);
            }

            .go3349661836 {
                display: block !important;
            }
        }
    }

}