.home-page {
    padding-bottom: 6rem;
    overflow-x: hidden;

    .rewards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .left {
            padding: 6px 20px;
            border-radius: 26px;
            background-color: var(--primary);
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .item {
                display: flex;
                align-items: center;

                span {
                    margin-left: 6px;
                }

                &:first-child {
                    padding-right: 6px;
                    border-right: 1px solid var(--text);
                }
            }
        }

        .right {
            padding: 6px 20px;
            border-radius: 26px;
            background-color: var(--primary);
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .item {
                display: flex;
                align-items: center;


                p,
                span {
                    margin-left: 6px;
                }

                small {
                    font-size: 8px;
                }
            }
        }

    }

    .daily-board {
        padding: 12px;
        background-color: var(--primary);
        margin-top: 20px;
        border-radius: 12px;
        box-shadow: 0 0 5px 0px var(--warning);
        border: 1px solid var(--warning);

        h4 {
            font-weight: 500;
            font-size: 14px;
            text-align: center;
        }

        .item-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            .item {
                width: 90px;
                background-color: var(--secondary);
                border-radius: 8px;

                .img {
                    padding: 8px;
                    border-radius: 8px;

                    img {
                        width: 75px;
                        object-fit: cover;
                    }

                }

                p {
                    text-align: center;
                    font-size: 600;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .balance {
        margin: auto;
        margin-top: 20px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin-left: 8px;
            font-weight: 700;
            font-size: 24px;
            color: var(--text2);
        }
    }

    .main-image-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .image {
            width: 160px;
            height: 220px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter 0.5s;
                -webkit-user-select: none;
                -ms-user-select: none;
                -moz-user-select: none;
                border: none;
                outline: none;
            }
        }
    }

    .tickets {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 12px 0 50px;
        color: var(--text2);

        p {
            font-size: 16px;
            font-weight: 600;
        }

        span {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .time {
        display: flex;
        align-items: center;
        margin-top: 10px;
        color: var(--text2);

        img {
            margin-right: 8px;
        }

        span {
            margin-right: 12px;
            font-size: 16px;
            font-weight: 600;
            min-width: 45px;
        }

    }

    .progress-container {
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 20px;
        position: relative;

        .claim {
            border-radius: 26px;
            padding: 2px 20px;
            background-color: var(--success);
            border: none;
            color: var(--text);
            font-size: 14px;
            font-weight: 600;
        }

        .progress {
            width: calc(100% - 138px);
            height: 25px;
            border-radius: 26px 0 0 26px;
            font-weight: 600;
            border: 0.5px solid var(--success);

            .progress-bar {
                height: 100%;
                background-color: var(--success);
            }

        }

        .img {
            position: absolute;
            right: -5px;
            padding: 6px 8px;
            border-radius: 50%;
            background-color: var(--text);
            border: 1px solid var(--warning);

            img {
                object-fit: contain;
            }
        }

    }

    .play-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;

        .play-button {
            height: 50px;
            width: 214px;
            background: var(--warning);
            border-radius: 26px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 16px;
                font-weight: 600;
                color: var(--text2);
            }

        }
    }

}