.settings-pages {

    padding-bottom: 6rem;

    .heading {
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color: var(--text2);
    }

    ul {
        padding: 0;
        margin-top: 40px;

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--text);
            padding: 6px 16px;
            border-radius: 6px;
            margin-bottom: 8px;
            min-height: 48px;
            background-color: var(--primary);

            .title {
                font-weight: 500;
            }

            small {
                color: #9ca39c;
            }
        }

    }
}