.firends-page {
    padding: 2rem 12px 90px 12px;

    .heading,
    .sub-heading {
        text-align: center;
        color: var(--white);
    }

    .heading {
        margin-bottom: 6px;
        font-weight: 700;
    }

    .sub-heading {
        font-weight: 500;
    }

    .tab-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
        padding-bottom: 60px;

        h6 {
            color: var(--white);
            font-weight: 700;
        }
    }

    .item {
        padding: 8px;
        background-color: var(--white);
        border-radius: 8px;
        width: 100%;
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        background: url('/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .card-info {
            display: flex;

            .card-image {
                margin-right: 8px;

                img {
                    object-fit: cover;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
            }

            .user {
                margin: auto;

                .title {
                    font-size: 14px;
                    font-weight: 500;
                }

                .value {
                    font-size: 10px;
                    font-weight: 400;
                }
            }

            img {
                width: 16px;
                height: 16px;
                margin-right: 4px;
            }

            .reward {
                .value {
                    display: flex;
                }
            }


        }

        .warn {
            color: var(--warning);
            margin-right: 2px;
        }


    }

    .button-container {
        position: fixed;
        width: calc(100% - 24px);
        bottom: 100px;
        display: flex;
        justify-content: center;
        gap: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 525px;

        .invite {
            width: 80%;
            padding: 12px;
            border-radius: 26px;
            background-color: var(--warning);
            border: none;
            color: var(--black);
            font-weight: 700;
            font-size: 16px;
        }

        .copy {
            width: 50px;
            padding: 12px;
            border-radius: 100%;
            background-color: var(--warning);
            border: none;
            color: var(--black);
            font-weight: 700;
            font-size: 16px;

            i {
                font-size: 18px;
            }
        }
    }
}