.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 8px;
    border-radius: 6px;

    .title {
        margin-left: 6px;
    }

    .setting {
        padding-left: 6px;
        border-left: 1px solid var(--black);
    }
}