.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 8px;
    border-radius: 6px;

    .title {
        margin-left: 6px;
    }

    .setting {
        padding-left: 6px;
        border-left: 1px solid var(--black);
    }
}

.modal {
    .skins {
        padding: 12px;

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;

            .item {
                width: calc(25% - 12px);
                box-shadow: 0 0 3px 0px var(--warning);
                border-radius: 12px;
                padding: 8px;
                height: 92px;
                text-align: center;

                img {
                    height: 40px;
                }
            }
        }
    }
}