.user-navbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 525px;
    z-index: 1000;
    background-color: #00141A;
    
    .navbar {
        margin: 12px;
        border-radius: 8px;
        background-color: var(--primary);

        .navbar-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }


        .nav-item {
            a {

                &.active,
                &:hover {
                    transition: 0.3s ease;

                    &::after {
                        content: '';
                        display: block;
                        margin-top: 4px;
                        width: 100%;
                        height: 8px;
                        background: url('/images/nav-icon/shadow.png') no-repeat;
                        background-position: center;
                        background-size: cover;
                        transition: 0.3s ease;
                    }

                }
            }
        }
    }
}