.leaderboard-page {
  padding: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;

  .slick-slider {
    width: 70%;
    margin: auto;
    border-radius: 12px;

    .slick-slide {
      height: 185px;

      .item-container {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        h6 {
          margin-top: 10px;
          text-align: center;
          color: var(--white);
          font-weight: 700;
        }

        img {
          object-fit: cover;
          height: 150px;
        }
      }
    }

    .slick-dots {
      bottom: -20px !important;

      li {
        width: 8px;
        height: 8px;
      }

      li button {
        width: 8px;
        height: 8px;
        border-radius: 12px;
        background-color: var(--white) !important;

        &::before {
          content: "" !important;
        }
      }

      li.slick-active {
        width: 30px;
      }

      li.slick-active button {
        width: 30px;
        background-color: var(--warning) !important;
        margin-right: 6px;
      }
    }

    .slick-arrow {
      z-index: 1000;

      &::before {
        content: "";
      }

      &.slick-next {
        right: 25px;
      }

      &.slick-prev {
        left: 25px;
      }

      i {
        border-radius: 100%;
        border: 1px solid var(--warning);
        background-color: var(--primary);
        color: var(--white);
        font-size: 12px;
        padding: 8px 10px;
      }
    }
  }

  .heading {
    font-weight: 700;
    color: var(--white);
    margin: 0;
    font-size: 24px;
    text-align: center;
  }
  .heading2 {
    font-size: 16px;
    text-align: left;
  }

  .card-container {
    background: url("/images/leaderboard/card.svg") no-repeat;
    position: relative;
    background-size: contain;
    background-position: center;
    padding: 60px 50px;
    border-radius: 35px;
    overflow: hidden;

    .card-content {
      height: 420px;
      overflow-y: auto;
      padding: 0 0 0 5px;
    }

    .item {
      padding: 0 8px;
      // background-color: var(--primary);
      border-radius: 8px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      &:first-child {
        margin-top: 10px;
      }

      .index {
        padding: 4px 10px;
        background-color: var(--warning);
        color: var(--white);
        border-radius: 100%;
        font-weight: 600;
        font-size: 12px;
      }

      .card-image {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 100%;
          object-fit: contain;
        }
      }

      small {
        color: var(--warning);
        font-size: 8px;
      }

      .play-image {
        margin: auto;
      }

      .score {
        margin-left: auto;
        text-align: right;
      }

      .value {
        color: var(--white);
      }
    }

    hr {
      height: 2px;
      margin: 12px 0;
      opacity: 1;
      border: none;
      background-color: var(--white);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .leaderboard-page .card-container .card-content {
    height: 380px;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .leaderboard-page .card-container {
    padding: 50px 40px;
  }
  .leaderboard-page .card-container .card-content {
    height: 350px;
  }
}
