.tasks-page {
    padding: 12px;

    .heading {
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color: var(--white);
    }

    .daily-reward {
        padding: 8px 25px 8px 10px;
        background-color: var(--white);
        border-radius: 8px;
        width: 100%;
        min-height: 90px;
        background: url('/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .img-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 40px;
            height: 40px;
        }

        .head {
            font-weight: 600;
        }

        p {
            font-size: 14px;
        }

        .title {
            font-size: 12px;
        }

        i {
            padding: 4px 6px;
            border: 1px solid var(--primary);
            border-radius: 50%;
            font-weight: 700;
        }
    }

    .nav-tabs {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        border: none;
        margin-top: 12px;
        background-color: var(--white);
        border-radius: 30px;
        padding: 8px;
        background: url('/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .nav-item {
            width: calc(25% - 10px);
            text-align: center;
            padding: 0;

            .nav-link {
                border-radius: 8px 8px 0 0;
                color: var(--black);
                font-weight: 600;
                border: none;
                border-radius: 30px;
                padding: 10px 8px;
                cursor: pointer;

                &.active {
                    background-color: var(--primary);
                    color: var(--white);
                }
            }
        }
    }

    .tab-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-top: 12px;
        background-color: var(--white);
        border-radius: 8px;
        padding: 30px 15px;
        min-height: 90px;
        background: url('/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .no-data {
            color: var(--primary);
        }

        img {
            width: 40px;
            height: 40px;
        }

        .small img {
            width: 16px;
            height: 16px;
        }

        hr {
            opacity: 1;
            border: 1px solid var(--black);
            width: 100%;
            margin: 3px 0;
        }


        .bold {
            font-weight: 600;
        }

        .start {
            padding: 4px;
            border-radius: 16px;
            background-color: var(--primary);
            border: none;
            min-width: 65px;
            color: var(--white);
        }

        .disable {
            color: black;
            background-color: silver;
        }

        .connect-wallet {
            svg {
                display: none;
            }

            .go3974562317 {
                padding: 0 10px;
                border-radius: 16px;
                background-color: var(--primary);
                border: none;
                min-width: 65px;
                color: var(--white);
                font-size: 12px;
                height: 28px;
            }

            .go157313249 {
                background-color: var(--black);
            }

            .go3349661836 {
                display: block !important;
            }
        }
    }


    #dailyRewardModal {
        .modal-body {
            h5 {
                color: var(--black);
                font-weight: 600;
                font-size: 20px;
            }
        }

        .card-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;

            .card {
                padding: 12px 0;
                width: calc(33.33% - 6px);
                border-radius: 12px;

                p {
                    font-size: 7px;
                }

                img {
                    width: 45px;
                    height: auto;
                    margin-bottom: 10px;
                }
            }
        }

        button {
            width: 100%;
            border-radius: 100px;
            background-color: var(--warning);
            color: var(--black);
            padding: 4px 0;
            margin: auto;
            width: 80%;
            font-size: 8px;
            font-weight: 800;
            border: none;
        }
    }

}