@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary: #304130;
    --secondary: #3B643B;
    --background: #EEFFEE;
    --text: #fff;
    --text2: #000;
    --success: #03E104;
    --warning: #FFD700;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    min-width: 320px;
    overflow-x: hidden;
    color: var(--text);
    font-size: 12px;
    background-color: var(--background);
    margin: auto 12px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

.outlet-container {
    min-height: 100vh;
    max-width: 525px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.progress {
    background-color: var(--text);

    .progress-bar {
        background-color: var(--success);
    }
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}