@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary: #359235;
    --background: #4f93b7;
    --success: #03E104;
    --warning: #FFD700;
    --danger: #FF0000;
    --gray: silver;
    --white: #fff;
    --black: #000;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    min-width: 320px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    color: var(--black);
    font-size: 12px;
    background: url('/images/background.webp') no-repeat center center;
    background-size: cover;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
}

#root {
    min-height: 100vh;
    max-width: 525px;
    width: 100%;
    padding: 2rem 12px 0px 12px;
    background: url('/images/background.webp') no-repeat center center;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #4f93b734;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 12px;
}

.progress {
    background-color: var(--white);
    border: 1px solid var(--gray);
    font-weight: 600;

    .progress-bar {
        background-color: var(--success);
        height: 100%;
    }
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}

.modal-body {
    padding: 16px 40px;
    min-height: 100px;

    h5 {
        color: var(--black);
        font-weight: 600;
    }

    img {
        margin-bottom: 12px;
        object-fit: cover;
        background-position: center;
    }

    p {
        color: var(--black);
        margin-bottom: 12px;
        font-weight: 500;
    }

    ul {
        padding: 12px;
        text-align: left;

        li {
            font-size: 10px;
            list-style: disc;
        }
    }

    button {
        width: 100%;
        border-radius: 100px;
        background-color: var(--warning);
        color: var(--black);
        padding: 10px 0;
        font-size: 16px;
        font-weight: 700;
    }
}

.swal2-popup.swal2-toast {
    background: url('/images/toast-bg.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 2px solid var(--primary);
    border-radius: 12px;
    color: var(--black) !important;
    font-weight: 600 !important;
}

.swal2-popup.swal2-toast .swal2-success {
    border-color: var(--white) !important;
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-line]{
    background-color: var(--white) !important;
}

div:where(.swal2-container) div:where(.swal2-timer-progress-bar){
    background: var(--white) !important;
}