@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto Flex, sans-serif;
}

:root {
    --primary: #F3AC00;
    --secondary: rgb(179, 48, 0);
    --background: #14121c;
    --text: #ffffff;
    --text2: #ffffff;
    --accent: #ffc3c3;
    --shadow: #14121c;
    --overlay: #fde3d5aa;
}

body {
    height: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    text-rendering: optimizeLegibility !important;
    width: 100%;
    -webkit-font-smoothing: antialiased !important;
    background-color: #14121c;
    color: #fff;
    font-weight: 400;
    min-width: 320px;
    -webkit-overflow-scrolling: touch !important;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.title {
    font-size: 2rem;
    font-weight: 800;
    color: #ffa500;
    margin-bottom: 20px;
    text-align: center;
}

.img {
    border-radius: 20px;
    width: 100%;
    height: calc(100vh - 300px);
}

.outlet-container {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .outlet-container {
        margin-top: 100px;
    }
}